<%= form_for @question do |f| %>
 
  <% if @question.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@question.errors.count, "error") %> prohibited
        this question from being saved:
      </h2>
      <ul>
        <% @question.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title, :class => "form-control" %>
  </p>
 <br>
  <p>
    <%= f.label :contents, "Description" %><br>
    <%= f.text_area :contents, :class => "form-control" %>
  </p>
    <%= f.hidden_field :askedby, :value => current_user.email %>
    <br>
  <p>
    <%= f.submit "Submit Question", :class => "btn btn-success" %>
  </p>
 
<% end %>