<%= render "formlayout", layout: "formlayout" %>
<div class="main-agileits">
    <h1>KyuOverflow Login</h1>
    <div class="mainw3-agileinfo">
      <!-- login form -->
      <div class="login-form">  
        <div class="login-agileits-top">  
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <p> <%= f.label :email %> </p>
            <%= f.text_field :email, :class => "name", :html => {:placeholder => "Email", :id => "input1", :type => "text"}, autofocus: true %>
            <p>Password</p>
            <%= f.password_field :password, :class => "password", :html => {:id => "input2"}, autocomplete: "off" %><br>
            <label class="anim">
              <% if devise_mapping.rememberable? %>
              <%= f.check_box :remember_me, :class => "checkbox" %>
              <% end %>
              <span> Remember me ?</span> 
            </label>  
            <%= f.submit "Login", :id => "login"%>
          <% end %>   
        </div> 
        <div class="login-agileits-bottom"> 
        <h6><%= render "devise/shared/links" %></h6>
        </div>  
        

      </div> 
    </div>  
  </div>